[project]
name = "spinning-board-game"
requirements = []
[contracts.spinning-board]
path = "contracts/spinning-board.clar"
clarity_version = 2
epoch = 2.4

[repl.analysis]
passes = ["check_checker"]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
